h1 {
  font-family: "Inter";
  text-align: center;
  padding: 10px;
  margin: 10px;
}

h4 {
  font-family: "Inter";
  font-size: small;
  font-weight: 450;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
